@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-md-6">
        
        <img src="~/Content/Pic.PNG" width="495" height="422"alt="imagre"/>
    </div>

    <div class="col-md-6">
        <div class="greeting">
            <h3><b>Hello There!</b></h3>
        </div>
        <br />
        <h1>I'm Nomawethu Jaceni</h1>
        <h4>Developer and Hairstylist</h4>
        <p><a class="btn btn-default" href="~/Views/Home/About.cshtml">Learn more &raquo;</a></p>
    </div>
</div>


<br />
<br />
<br />
<br />


